<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.cea.ecoredesigner.Activator"
               id="com.cea.ecoredesigner"
	       name="ecoredesigner">
    </component>
  </extension>
</plugin>
