<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="test.e4.rap2.e4app"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="RAP E4 Application">
                        <property name="applicationXMI" 
               value="platform:/plugin/com.opcoach.training.e4.rental.rap/Application.e4xmi">
         </property>
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.opcoach.training.e4.rental.eap/css/initial.css">
         </property>
         <property
               name="appName"
               value="Rental Running On RAP !">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            applicationId="org.eclipse.e4.ui.workbench.swt.E4Application"
            brandingId="com.opcoach.training.e4.rental.rap.branding1"
            id="com.opcoach.training.e4.rental.rap.entrypoint"
            path="/rental">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="com.opcoach.training.e4.rental.rap.branding1"
            title="rental">
      </branding>
   </extension>

</plugin>
