<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="viewmodels/Customer.view"/>

<file filePath="viewmodels/Address.view"/>


<file filePath="viewmodels/RentalAgency.view"/>

   </extension>

</plugin>
