<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.opcoach.training.rental.ui.commands.MaCommande"
            name="Ma Commande">
         <state
               class="org.eclipse.ui.handlers.RadioState"
               id="com.opcoach.training.rental.ui.commands.state3">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.opcoach.training.rental.ui.commands.SampleCommandHandler"
            commandId="com.opcoach.training.rental.ui.commands.MaCommande">
      </handler>
      <handler
            class="com.opcoach.training.rental.ui.commands.CopyCustomer"
            commandId="org.eclipse.ui.edit.copy">
         <enabledWhen>
            <reference
                  definitionId="com.opcoach.training.rental.ui.commands.customerSelected">
            </reference>
         </enabledWhen>
         <activeWhen>
            <reference
                  definitionId="com.opcoach.training.rental.ui.commands.customerSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.opcoach.rental.ui.rentalagencyview?after=additions">
         <menu
               label="Rental Menu">
            <command
                  commandId="com.opcoach.training.rental.ui.commands.MaCommande"
                  icon="icons/RentalCommand.png"
                  label="Ma commande dans un menu"
                  style="push">
            </command>
         </menu>
         <command
               commandId="org.eclipse.ui.edit.copy"
               icon="icons/RentalCommand.png"
               label="Copy CUSTOMER"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.opcoach.training.rental.ui.commands.customerSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Pour Commande">
            <command
                  commandId="com.opcoach.training.rental.ui.commands.MaCommande"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.opcoach.rental.ui.rentalagencyview?after=additions">
         <command
               commandId="org.eclipse.ui.edit.copy"
               icon="icons/RentalCommand.png"
               label="Copy CUSTOMER"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.opcoach.training.rental.ui.commands.customerSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.opcoach.training.rental.ui.commands.agencyview">
         <with
               variable="activePartId">
            <equals
                  value="com.opcoach.rental.ui.rentalagencyview">
            </equals>
         </with>
      </definition>
      <definition
            id="com.opcoach.training.rental.ui.commands.customerSelected">
         <iterate>
            <instanceof
                  value="com.opcoach.training.rental.Customer">
            </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.opcoach.training.rental.ui.commands.activity1"
            name="Rental">
         <enabledWhen></enabledWhen>
      </activity>
   </extension>

</plugin>
