<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.opcoach.training.rental.ui.commands.SampleCommandHandler"
            id="com.opcoach.training.rental.ui.commands.samplecommand"
            name="Exemple de commande">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.opcoach.training.rental.ui.commands.SampleCommandHandler"
            commandId="com.opcoach.training.rental.ui.commands.samplehandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.opcoach.training.rental.ui.commands.samplecommand"
               style="push">
         </command>
         <menu
               label="Rental Menu">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.opcoach.training.rental.ui.commands.agencyview">
               </reference>
            </visibleWhen>
            <command
                  commandId="com.opcoach.training.rental.ui.commands.samplecommand"
                  label="Autre commande dans le sous menu"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Customer Menu">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.opcoach.training.rental.ui.commands.customerSelected">
               </reference>
            </visibleWhen>
            <command
                  commandId="com.opcoach.training.rental.ui.commands.samplecommand"
                  label="Commande dans le customer menu"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.opcoach.training.rental.ui.commands.customerSelected">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.opcoach.training.rental.ui.commands.agencyview">
         <with
               variable="activePartId">
            <equals
                  value="com.opcoach.rental.ui.rentalagencyview">
            </equals>
         </with>
      </definition>
      <definition
            id="com.opcoach.training.rental.ui.commands.customerSelected">
         <iterate>
            <instanceof
                  value="com.opcoach.training.rental.Customer">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="com.opcoach.training.rental.ui.commands.definition1">
         <iterate></iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.opcoach.training.rental.ui.commands.PasteCustomer"
            commandId="org.eclipse.ui.edit.paste">
         <enabledWhen>
            <reference
                  definitionId="com.opcoach.training.rental.ui.commands.customerSelected">
            </reference>
         </enabledWhen>
         <activeWhen>
            <reference
                  definitionId="com.opcoach.training.rental.ui.commands.customerSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>

</plugin>
