<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="EssaiExtension" name="Essai Extension" schema="schema/EssaiExtension.exsd"/>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.opcoach.training.SamplePropertyPage"
            icon="icons/sample.gif"
            id="com.opcoach.training.samplepropertypage"
            name="Sample Property">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.opcoach.training.rental.wizardCategory"
            class="com.opcoach.training.MyNewWizard"
            icon="icons/Agency.png"
            id="com.opcoach.training.wizard.createagency"
            name="Create Agency">
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
      <category
            id="com.opcoach.training.rental.wizardCategory"
            name="Rental">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.opcoach.training.MyPerspectiveFactory"
            icon="icons/Agency.png"
            id="com.opcoach.training.myperspective"
            name="My Perspective">
         <description>
            Perspective qui gère l'activité de location
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.opcoach.training.MyEditor"
            contributorClass="MyEditorContribution"
            default="false"
            extensions="cust"
            icon="icons/Editor.png"
            id="com.opcoach.training.myeditor"
            name="MyEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.opcoach.training.codesamples.rentalcategory"
            name="Rental">
      </category>
      <view
            category="com.opcoach.training.codesamples.rentalcategory"
            class="com.opcoach.training.ViewPart1"
            id="com.opcoach.training.codesamples.view1"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.opcoach.training.codesamples.EssaiExtension">
      <categoryEssai
            id="test">
      </categoryEssai>
      <colorProvider
            categoryId="YouTube"
            id="com.opcoach.training.codesamples.colorProvider4">
      </colorProvider>
      <categoryEssai
            id="YouTube">
      </categoryEssai>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartID">
                  <equals
                        value="com.opcoach.training.codesamples.equals1">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <menu
               id="com.opcoach.generate.menu"
               label="Generate">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.opcoach.generate.menu?after=additions">
         <command
               commandId="org.eclipse.ui.edit.cut"
               label="Couper pour generate"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.opcoach.training.activeAgencyView">
         <with
               variable="activePartId">
            <equals
                  value="com.opcoach.rental.ui.rentalagencyview">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.opcoach.training.myhandler">
         <enabledWhen>
            <reference
                  definitionId="com.opcoach.training.activeAgencyView">
            </reference>
         </enabledWhen>
         <activeWhen>
            <and>
               <reference
                     definitionId="com.opcoach.training.activeAgencyView">
               </reference>
               <reference
                     definitionId="com.opcoach.training.anothertest">
               </reference>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="com.opcoach.training.codesamples.toc2"
            primary="false">
      </toc>
   </extension>

</plugin>
