<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Training RCP 3" sequenceNumber="1540145063">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.7.0.201806111355"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.7.0.201806111355"/>
      <unit id="org.eclipse.swtbot.forms.feature.group" version="2.7.0.201806111355"/>
      <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.7.0.201806111355"/>
      <unit id="org.eclipse.swtbot.feature.group" version="2.7.0.201806111355"/>
      <unit id="org.eclipse.swtbot.go" version="2.7.0.201806111355"/>
      <unit id="org.eclipse.swtbot.eclipse.core" version="2.7.0.201806111355"/>
      <unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
      <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
      <repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rcp.feature.group" version="4.8.0.v20180611-0656"/>
      <unit id="org.eclipse.ui.workbench" version="3.111.0.v20180524-1156"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="1.5.0.v20180130-1145"/>
      <unit id="org.eclipse.ui.cheatsheets" version="3.5.200.v20180418-0908"/>
      <unit id="org.eclipse.help.ui" version="4.1.100.v20180418-0908"/>
      <unit id="org.eclipse.compare" version="3.7.200.v20180418-1233"/>
      <unit id="org.eclipse.jdt.junit.runtime" version="3.4.700.v20171124-1029"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.0.v20180518-2029"/>
      <repository location="http://download.eclipse.org/releases/photon"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.14.0.v20180518-2029"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.8"/>
    </location>
  </locations>
</target>
