<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.opcoach.training.rental.gef.FigureView"
            id="com.opcoach.training.rental.gef.view1"
            name="Figure View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.opcoach.training.rental.gef.RentalGraphicalEditor"
            default="true"
            extensions=".agency"
            filenames=".agency"
            icon="icons/Agency.png"
            id="com.opcoach.training.rental.gef.rental.editor"
            name="Rental Editor">
      </editor>
   </extension>

</plugin>
