<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            description="Rental ui made over e4"
            name="Rental e4 ui">
         <property
               name="appName"
               value="Rental e4">
         </property>
         <property
               name="applicationXMI"
               value="com.opcoach.training.e4.rental.ui/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.opcoach.training.e4.rental.ui/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
