<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="Palette" name="Palette" schema="schema/Palette.exsd"/>

     
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.opcoach.training.e4.rental.ui.pref.RentalPrefInit">
      </initializer>
   </extension>
   
    <extension point="org.eclipse.ui.preferencePages">
       <page
             class="com.opcoach.training.e4.rental.ui.pref.RentalPrefHomePage"
             id="com.opcoach.training.rental.preferences"
             name="Rental">
       </page>
      <page
            category="com.opcoach.training.rental.preferences"
            class="com.opcoach.training.e4.rental.ui.pref.RentalColorPreferences"
            id="com.opcoach.rental.ui.colorprefpage"
            name="Colors">
      </page>
   </extension>
   
    <extension point="org.eclipse.core.expressions.definitions">
     <definition  id="com.opcoach.training.e4.rental.ui.customerSelected">
        <instanceof
              value="com.opcoach.training.rental.Customer">
        </instanceof>
     </definition>
  </extension>
   
  <extension
        point="com.opcoach.training.e4.rental.ui.Palette">
     <palette
           id="com.opcoach.training.e4.rental.ui.NonePalette"
           name="None"
           paletteClass="com.opcoach.training.e4.rental.ui.parts.NonePalette">
     </palette>
  </extension>
 
   
   
</plugin>
