<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="Palette" name="Palette" schema="schema/Palette.exsd"/>


  <extension
        id="id1"
        point="org.eclipse.e4.workbench.model">
     <fragment
           apply="always"
           uri="fragment.e4xmi">
     </fragment>
  </extension>
     
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.opcoach.training.e4.rental.ui.pref.RentalPrefInit">
      </initializer>
   </extension>
   
   
    <extension point="org.eclipse.core.expressions.definitions">
     <definition  id="com.opcoach.training.e4.rental.ui.oneCustomerSelected">
        <instanceof
              value="com.opcoach.training.rental.Customer">
        </instanceof>
     </definition>
  </extension>
   
  <extension
        point="com.opcoach.training.e4.rental.ui.Palette">
     <palette
           id="com.opcoach.training.e4.rental.ui.DefaultPalette"
           name="Default Palette"
           paletteClass="com.opcoach.training.e4.rental.ui.palettes.DefaultPalette">
     </palette>
  </extension>

  <extension
        point="com.opcoach.e4.preferences.e4PreferencePages">
     <page
           class="com.opcoach.training.e4.rental.ui.pref.RentalPrefHomePage"
           id="com.opcoach.training.e4.rental.ui.rentalHomePage"
           name="Rental Home">
     </page>
     <page
           category="com.opcoach.training.e4.rental.ui.rentalHomePage"
           class="com.opcoach.training.e4.rental.ui.pref.RentalPalettePreferences"
           id="com.opcoach.training.e4.rental.ui.palettePrefPage"
           name="Palettes">
     </page>
     <page
           category="com.opcoach.training.e4.rental.ui.palettePrefPage"
           class="com.opcoach.training.e4.rental.ui.pref.RentalColorPreferences"
           id="com.opcoach.training.e4.rental.ui.defaultPalettePrefPage"
           name="Default Palette">
     </page>
  </extension>
 
   
   
</plugin>
