<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.opcoach.training.rental.ui.ColorProvider">
      <colorProvider
            colorProviderClass="com.opcoach.training.rental.ui.colorprovider.PastelColorProvider"
            name="Pastel">
      </colorProvider>
   </extension>
   <extension
         point="com.opcoach.training.rental.ui.ColorProvider">
      <colorProvider
            colorProviderClass="com.opcoach.training.rental.ui.colorprovider.ViveColorProvider"
            name="Couleurs Vives">
      </colorProvider>
   </extension>

</plugin>
