<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ColorProvider" name="Color Provider" schema="schema/ColorProvider.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.opcoach.training.rental.preferences"
            class="com.opcoach.training.rental.ui.pref.RentalColorPreferences"
            id="com.opcoach.rental.ui.colorprefpage"
            name="Colors">
      </page>
      <page
            class="com.opcoach.training.rental.ui.pref.RentalPrefHomePage"
            id="com.opcoach.training.rental.preferences"
            name="Rental">
      </page>
   </extension>

   <extension   point="org.eclipse.ui.views">
      <category name="Rental"  id="com.opcoach.rental.ui"/>
      <view
            name="Rental Property view"
            icon="icons/Rentals.png"
            category="com.opcoach.rental.ui"
            class="com.opcoach.training.rental.ui.views.RentalPropertyView"
            id="com.opcoach.rental.ui.views.rentalView">
      </view>
      
      
      
      <view
            category="com.opcoach.rental.ui"
            class="com.opcoach.training.rental.ui.views.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.opcoach.rental.ui.rentalagencyview"
            name="Rental Agency View"
            restorable="true">
      </view>
      <view
            category="com.opcoach.rental.ui"
            class="com.opcoach.training.rental.ui.views.RentalAgencyUIFormView"
            icon="icons/Agency.png"
            id="com.opcoach.training.rental.ui.agencyformview"
            name="Rental Agency UIForm"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.opcoach.training.rental.ui.pref.RentalPrefInit">
      </initializer>
   </extension>
   <extension
         name="AdapterToRental"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="com.opcoach.training.rental.adapter.RentalAdapterFactory">
         <adapter
               type="com.opcoach.training.rental.Rental">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.opcoach.training.rental.property.RentalProperty"
            id="com.opcoach.training.rental.ui.rentalproperty"
            name="Rental"
            nameFilter="*.rental"
            objectClass="org.eclipse.core.resources.IFile">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.opcoach.rental.ui.rentalagencyview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="true">
         </view>
         <view
               id="com.opcoach.rental.ui.views.rentalView"
               minimized="false"
               relationship="left">
         </view>
         <perspectiveShortcut
               id="com.opcoach.training.rental.ui.rentalperspective">
         </perspectiveShortcut>
         <viewShortcut
               id="com.opcoach.rental.ui.rentalagencyview">
         </viewShortcut>
         <viewShortcut
               id="com.opcoach.rental.ui.views.rentalView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.opcoach.training.rental.ui.views.RentalPerspective"
            icon="icons/Agency.png"
            id="com.opcoach.training.rental.ui.rentalperspective"
            name="Rental">
      </perspective>
   </extension>

</plugin>
