<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Palette" name="Palette" schema="schema/Palette.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.opcoach.training.rental.preferences"
            class="com.opcoach.training.rental.ui.pref.RentalColorPreferences"
            id="com.opcoach.rental.ui.colorprefpage"
            name="Palettes">
      </page>
      <page
            class="com.opcoach.training.rental.ui.pref.RentalPrefHomePage"
            id="com.opcoach.training.rental.preferences"
            name="Rental">
      </page>
      <page
            category="com.opcoach.rental.ui.colorprefpage"
            class="com.opcoach.training.rental.ui.pref.DefaultPalettePreferences"
            id="com.opcoach.training.rental.ui.pageforDefaultPalette"
            name="Default Palette">
      </page>
   </extension>

   <extension   point="org.eclipse.ui.views">
      <category name="Rental"  id="com.opcoach.rental.ui"/>
      <view
            name="Rental Property view"
            icon="icons/Rentals.png"
            category="com.opcoach.rental.ui"
            class="com.opcoach.training.rental.ui.views.RentalPropertyView"
            id="com.opcoach.rental.ui.views.rentalView">
         <description>
            Vue de propriété de la location.
         </description>
      </view>
      
      
      
      <view
            category="com.opcoach.rental.ui"
            class="com.opcoach.training.rental.ui.views.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.opcoach.rental.ui.rentalagencyview"
            name="Rental Agency View"
            restorable="true">
      </view>
      <view
            category="com.opcoach.rental.ui"
            class="com.opcoach.training.rental.ui.views.RentalAgencyUIFormView"
            icon="icons/Agency.png"
            id="com.opcoach.training.rental.ui.agencyformview"
            name="Rental Agency UIForm"
            restorable="true">
      </view>
      <view
            category="com.opcoach.rental.ui"
            class="com.opcoach.training.rental.ui.views.CustomerViewPart"
            icon="icons/Customers.png"
            id="com.opcoach.training.rental.ui.views.CustomerViewPart"
            name="Customer Propertie">
      </view>
      <view
            category="com.opcoach.rental.ui"
            class="com.opcoach.training.rental.ui.views.RentalAgencyDashBoard"
            icon="icons/Agency.png"
            id="com.opcoach.rental.ui.agencyDashboard"
            name="Agency Dashboard"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.opcoach.training.rental.ui.pref.RentalPrefInit">
      </initializer>
   </extension>
   
 
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.opcoach.rental.ui.rentalagencyview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="true">
         </view>
         <view
               id="com.opcoach.rental.ui.views.rentalView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator">
         </view>
         <perspectiveShortcut
               id="com.opcoach.training.rental.ui.rentalperspective">
         </perspectiveShortcut>
         <viewShortcut
               id="com.opcoach.rental.ui.rentalagencyview">
         </viewShortcut>
         <viewShortcut
               id="com.opcoach.rental.ui.views.rentalView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.opcoach.training.rental.ui.views.RentalPerspective"
            icon="icons/Agency.png"
            id="com.opcoach.training.rental.ui.rentalperspective"
            name="Rental">
      </perspective>
      <perspective
            class="com.opcoach.training.rental.ui.views.RentalStandalonePerspective"
            icon="icons/Customers.png"
            id="com.opcoach.training.rental.ui.rentalStandalonePerspective"
            name="Rental StandAlone">
      </perspective>
   </extension>
   
   
      <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.opcoach.training.rental.ui.commands.MaCommande"
            name="My Command">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="com.opcoach.training.rental.ui.sampleJobCommand"
            name="Launch Sample Job">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.opcoach.training.rental.ui.handlers.SampleCommandHandler"
            commandId="com.opcoach.training.rental.ui.commands.MaCommande">
      </handler>
      <handler
            class="com.opcoach.training.rental.ui.handlers.JobLauncherHandler"
            commandId="com.opcoach.training.rental.ui.sampleJobCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.opcoach.rental.ui.rentalagencyview?after=additions">
         <menu
               label="My Menu">
            <command
                  commandId="com.opcoach.training.rental.ui.commands.MaCommande"
                  icon="icons/Agency.png"
                  label="%command.label"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <!-- Ajout d'un menu dans le main menu -->
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="My Menu">
            <command
                  commandId="com.opcoach.training.rental.ui.commands.MaCommande"
                  style="push">
            </command>
            <command
                  commandId="com.opcoach.training.rental.ui.sampleJobCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.opcoach.training.rental.ui.agencyview">
         <with
               variable="activePartId">
            <equals
                  value="com.opcoach.rental.ui.rentalagencyview">
            </equals>
         </with>
      </definition>
      <definition
            id="com.opcoach.training.rental.ui.customerSelected">
         <iterate>
            <instanceof
                  value="com.opcoach.training.rental.Customer">
            </instanceof>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.opcoach.training.rental.ui.commands.activity1"
            name="%activity.name">
         <enabledWhen></enabledWhen>
      </activity>
   </extension>
   <extension
         point="com.opcoach.training.rental.ui.Palette">
      <palette
            id="com.opcoach.training.rental.ui.nonePalette"
            name="Default"
            paletteClass="com.opcoach.training.rental.ui.palette.NonePalette">
      </palette>
      <palette
            id="com.opcoach.training.rental.ui.paletteJaune"
            name="Jaune"
            paletteClass="com.opcoach.training.rental.ui.palette.PaletteJaune">
      </palette>
   </extension>
   

</plugin>
