<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.opcoach.training.rental.acceleo.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
  
  <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.opcoach.training.rental.acceleo.ui.agencySelected">
         <iterate>
            <instanceof
                  value="com.opcoach.training.rental.RentalAgency">
            </instanceof>
         </iterate>
      </definition>
   </extension>

</plugin>
