<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 OPCoach @ 2009

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://com.opcoach.training/rental/1.0"
            class="com.opcoach.training.rental.RentalPackage"
            genModel="model/rental.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="com.opcoach.training.rental.impl.MyRentalFactoryImpl"
            uri="http://com.opcoach.training/rental/1.0">
      </factory>
   </extension>
   

</plugin>
