<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="viewapp"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="com.opcoach.training.rental.rap.RentalRAPApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            servletName="view"
            themeId="org.eclipse.rap.design.example.fancy.theme"
            defaultEntrypointId="com.opcoach.training.rental.rap.viewapp"
            title="Application de locations"
            id="com.opcoach.training.rental.rap.branding">
      </branding>
   </extension>

</plugin>
