<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Code Samples"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="com.opcoach.training.e4.codesamples">
         </property>
         <property
               name="applicationXMI"
               value="com.opcoach.training.e4.codesamples/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.opcoach.training.e4.codesamples/css/default.css">
         </property>
      </product>
   </extension>
   
   
   
   <extension   point="org.eclipse.core.expressions.definitions">
   
      <definition id="com.opcoach.training.e4.codesamples.txtFileSelected">
         <adapt type="org.eclipse.core.resources.IFile">
            <test property="org.eclipse.core.resources.extension"  value="txt"/>
         </adapt>
      </definition>
      
      
      
      
   </extension>

</plugin>
